.card {
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 350px;
    height: 250px !important;
    margin: 10px;
    overflow: hidden;
    position: relative;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}

.card-title {
    padding-left: 20px;
    top: 5px;
    left: 20px;
    background-color: #fff;
}

/*make image inside card fit to card*/
.card img {
    max-width: 50%;
    height: auto;
    object-fit: cover;
    padding: 10px 0 0 10px;
    margin: 10px 0 0 10px;
}

input[type="date"] {
    appearance: none;
    border: none;
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    width: 115px;
}
input[type="date"].hidden {
    display: none;
}


.dashboard-ulist {
    list-style-type: none;
    padding-left: 10px;
    margin-top: 20px;
}

.dashboard-ulist li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
}

.dashboard-ulist li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 2px;
}

.button-wrapper {
    position: absolute;
    bottom: 0;
    width: 90%;
    left: 50%;
    transform: translate(-50%, 100%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.button-wrapper {
    opacity: 1;
}

