img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
    color: #588c7e;
    font-family: monospace;
    font-size: 25px;
    text-align: left;
}

th {
    background-color: #588c7e;
    color: white;
    padding: 10px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

td {
    padding: 10px;
    text-align: center;
}

#add-dish-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#dish-add-form {
    width: 30%;
    margin: 10px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    overflow-y: auto;
    max-height: 80%;
}