.container {
    width: 80%;
    margin: 0 auto;
}

.row {
    display: flex;
}

.col-md-4 {
    flex: 1;
    margin: 10px;
}

.dish-image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}

/* Additional styles for specific elements */
ul.list-group {
    list-style-type: none;
    padding: 0;
}

form.ingredient-form {
    margin-top: 20px;
}

.dish-image {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

#ing-form,
#edit-button,
#finish-button {
    display: none;
}

#edit-button,
#finish-button {
    text-align: center;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}

