#finish-button {
  display: none;
}
td:has(.trash-icon),
td:has(.edit-icon),
td:has(.tick-icon),
td:has(.cross-icon),
td:has(.add-new-row),
td:has(.fa-circle-xmark){
  display: none;
}
.input-row,.dummy-row {
  display: none;
}

.trash-icon,
.edit-icon,
.tick-icon,
.cross-icon,
.fa-circle-xmark{
  margin: 0 5px;
}