.editable {
    border: 2px solid green;
}

.shrink {
    transition: height 2s ease-out;
}
.trash-icon {
    display: none;
}

.visible {
    display: block;
}

#editButton{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
#updateButton{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
#switch-button{
    position: fixed;
    bottom: 20px;
}