#button-div {
    padding: 10px 0;
    margin-top: 10px;

    display: flex;
    justify-content: space-between;
    width: 40%;
}

#button-div button {
    max-width: 100%;
    margin: 0 5px;
}

/* change on hover */
.btn-danger:hover {
    background-color: #dc3545;
    border-color: #dc3545;
}

#finish-button,#accept-button,
#reject-button, #complete-button,.input-row,.dummy-row {
    display: none;
}
#complete-button{
    width:200px;
}
.order-status {
 width: 200px;
}

.editorderoption {
   display: none;
    width: 30px;
}
.quantity{
    width: 30px;
}
.request-field,.type-field{
    display: none;
}