#finish-button, #accept-button,
#reject-button, #complete-button, .input-row, .dummy-row {
    display: none;
}

.editorderoption {
    display: none;
    width: 30px;
}

.quantity {
    width: 30px;
}

.fa-pencil-square-o,.request-field, .type-field, .sctime-field {
    display: none;
}


/*change default height of textarea*/
textarea {
    height: 30px;
}