#finish-button, #accept-button,
#reject-button, #complete-button, .input-row, .dummy-row {
    display: none;
}


.order-status {
    width: 120px;
    height: 40px;
    display: inline;
    font-size: 13px;
}

.editorderoption {
    display: none;
    width: 30px;
}

.quantity {
    width: 30px;
}

.fa-pencil-square-o,.request-field, .type-field, .sctime-field {
    display: none;
}


#order-details-table {
    padding-left:100px;
}

/*change default height of textarea*/
textarea {
    height: 30px;
}