table {
    border-collapse: collapse;
    width: 100%;
    color: #588c7e;
    font-family: monospace;
    font-size: 25px;
    text-align: left;
}

th {
    background-color: #588c7e;
    color: white;
    padding: 10px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

td {
    padding: 10px;
    text-align: center;
}

.editable {
    border: 2px solid green;
}

/* Style for the trash can icon */
.fa-trash {
    cursor: pointer;
    /* Make the icon look clickable */
    color: #ff0000;
    /* Change the color of the icon */
}

/* Style for the trash can icon when hovered */
.fa-trash:hover {
    color: #c0392b;
    /* Change the color of the icon on hover */
}

/* Style for the trash can icon when clicked */
.fa-trash:active {
    transform: scale(0.9);
    /* Scale the icon down slightly */
}

#Addform {
    width : 30%;
    padding: 10px;
    margin: 10px;
    display: none;
}

.form-control {
    width: 100%;
}

#add-purchase-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#Addform {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    overflow-y: auto;
    max-height: 80%;
}

#purchase-table {
    border-collapse: collapse;
}