@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.dark {
  color: #1F1C1C !important;
}

.primary {
  color: #FF4546 !important;
}

.secondary {
  color: #802323 !important;
}

/**
  Typography
 */
.dark {
  color: #1F1C1C !important;
}

.primary {
  color: #FF4546 !important;
}

.secondary {
  color: #802323 !important;
}

.display-1 {
  font-size: 5rem !important;
  font-weight: 300 !important;
  color: #3A3131;
}

.display-2 {
  font-size: 4rem !important;
  font-weight: 300 !important;
  color: #3A3131;
}

.display-3 {
  font-size: 3rem !important;
  font-weight: 300 !important;
  color: #3A3131;
}

.display-4 {
  font-size: 2.5rem !important;
  font-weight: 300 !important;
  color: #3A3131;
}

.display-5 {
  font-size: 2rem !important;
  font-weight: 300 !important;
  color: #3A3131;
}

.display-6 {
  font-size: 1.5rem !important;
  font-weight: 300 !important;
  color: #3A3131;
}

.heading-1 {
  font-size: 2.5rem !important;
  color: #3A3131;
}

.heading-2 {
  font-size: 2rem !important;
  color: #3A3131;
}

.heading-3 {
  font-size: 1.75rem !important;
  color: #3A3131;
}

.heading-4 {
  font-size: 1.5rem !important;
  color: #3A3131;
}

.heading-5 {
  font-size: 1.25rem !important;
  color: #3A3131;
}

.heading-6 {
  font-size: 1rem !important;
  color: #3A3131;
}

.fs-1 {
  font-size: 2rem;
  color: #1F1C1C;
}

.fs-2 {
  font-size: 1.75rem;
  color: #1F1C1C;
}

.fs-3 {
  font-size: 1.5rem;
  color: #1F1C1C;
}

.fs-4 {
  font-size: 1.25rem;
  color: #1F1C1C;
}

.fs-5 {
  font-size: 1rem;
  color: #1F1C1C;
}

.fs-6 {
  font-size: 0.875rem;
  color: #1F1C1C;
}

.fw-100 {
  font-weight: 100 !important;
}

.fw-200 {
  font-weight: 200 !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

.fw-900 {
  font-weight: 900 !important;
}

.fw-light {
  font-weight: 300 !important;
}

.fw-normal {
  font-weight: 400 !important;
}

.fw-bold {
  font-weight: 700 !important;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.text-normal {
  font-style: normal !important;
}

.text-italic {
  font-style: italic !important;
}

.text-normal {
  text-decoration: normal !important;
}

.text-underline {
  text-decoration: underline !important;
}

.text-line-through {
  text-decoration: line-through !important;
}

.text-success {
  color: #29A645 !important;
}

.text-warning {
  color: #FFC000 !important;
}

.text-danger {
  color: #DF3B31 !important;
}

a.link {
  color: #802323;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
a.link:hover {
  text-decoration: underline;
}

/**
  Layout
 */
.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

@media (min-width: 0) {
  .flex-xs-row {
    flex-direction: row;
  }
}

@media (min-width: 0) {
  .flex-xs-row-reverse {
    flex-direction: row-reverse;
  }
}

@media (min-width: 0) {
  .flex-xs-column {
    flex-direction: column;
  }
}

@media (min-width: 0) {
  .flex-xs-column-reverse {
    flex-direction: column-reverse;
  }
}

@media (min-width: 576px) {
  .flex-sm-row {
    flex-direction: row;
  }
}

@media (min-width: 576px) {
  .flex-sm-row-reverse {
    flex-direction: row-reverse;
  }
}

@media (min-width: 576px) {
  .flex-sm-column {
    flex-direction: column;
  }
}

@media (min-width: 576px) {
  .flex-sm-column-reverse {
    flex-direction: column-reverse;
  }
}

@media (min-width: 768px) {
  .flex-md-row {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .flex-md-row-reverse {
    flex-direction: row-reverse;
  }
}

@media (min-width: 768px) {
  .flex-md-column {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .flex-md-column-reverse {
    flex-direction: column-reverse;
  }
}

@media (min-width: 992px) {
  .flex-lg-row {
    flex-direction: row;
  }
}

@media (min-width: 992px) {
  .flex-lg-row-reverse {
    flex-direction: row-reverse;
  }
}

@media (min-width: 992px) {
  .flex-lg-column {
    flex-direction: column;
  }
}

@media (min-width: 992px) {
  .flex-lg-column-reverse {
    flex-direction: column-reverse;
  }
}

@media (min-width: 1200px) {
  .flex-xl-row {
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .flex-xl-row-reverse {
    flex-direction: row-reverse;
  }
}

@media (min-width: 1200px) {
  .flex-xl-column {
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .flex-xl-column-reverse {
    flex-direction: column-reverse;
  }
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

@media (min-width: 0) {
  .flex-xs-nowrap {
    flex-wrap: nowrap;
  }
}

@media (min-width: 0) {
  .flex-xs-wrap {
    flex-wrap: wrap;
  }
}

@media (min-width: 0) {
  .flex-xs-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
}

@media (min-width: 576px) {
  .flex-sm-nowrap {
    flex-wrap: nowrap;
  }
}

@media (min-width: 576px) {
  .flex-sm-wrap {
    flex-wrap: wrap;
  }
}

@media (min-width: 576px) {
  .flex-sm-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
}

@media (min-width: 768px) {
  .flex-md-nowrap {
    flex-wrap: nowrap;
  }
}

@media (min-width: 768px) {
  .flex-md-wrap {
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .flex-md-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
}

@media (min-width: 992px) {
  .flex-lg-nowrap {
    flex-wrap: nowrap;
  }
}

@media (min-width: 992px) {
  .flex-lg-wrap {
    flex-wrap: wrap;
  }
}

@media (min-width: 992px) {
  .flex-lg-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
}

@media (min-width: 1200px) {
  .flex-xl-nowrap {
    flex-wrap: nowrap;
  }
}

@media (min-width: 1200px) {
  .flex-xl-wrap {
    flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .flex-xl-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
}

.justify-content-start {
  justify-content: start;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}

@media (min-width: 0) {
  .justify-content-xs-start {
    justify-content: start;
  }
}

@media (min-width: 0) {
  .justify-content-xs-end {
    justify-content: end;
  }
}

@media (min-width: 0) {
  .justify-content-xs-center {
    justify-content: center;
  }
}

@media (min-width: 0) {
  .justify-content-xs-space-between {
    justify-content: space-between;
  }
}

@media (min-width: 0) {
  .justify-content-xs-space-around {
    justify-content: space-around;
  }
}

@media (min-width: 0) {
  .justify-content-xs-space-evenly {
    justify-content: space-evenly;
  }
}

@media (min-width: 576px) {
  .justify-content-sm-start {
    justify-content: start;
  }
}

@media (min-width: 576px) {
  .justify-content-sm-end {
    justify-content: end;
  }
}

@media (min-width: 576px) {
  .justify-content-sm-center {
    justify-content: center;
  }
}

@media (min-width: 576px) {
  .justify-content-sm-space-between {
    justify-content: space-between;
  }
}

@media (min-width: 576px) {
  .justify-content-sm-space-around {
    justify-content: space-around;
  }
}

@media (min-width: 576px) {
  .justify-content-sm-space-evenly {
    justify-content: space-evenly;
  }
}

@media (min-width: 768px) {
  .justify-content-md-start {
    justify-content: start;
  }
}

@media (min-width: 768px) {
  .justify-content-md-end {
    justify-content: end;
  }
}

@media (min-width: 768px) {
  .justify-content-md-center {
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .justify-content-md-space-between {
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .justify-content-md-space-around {
    justify-content: space-around;
  }
}

@media (min-width: 768px) {
  .justify-content-md-space-evenly {
    justify-content: space-evenly;
  }
}

@media (min-width: 992px) {
  .justify-content-lg-start {
    justify-content: start;
  }
}

@media (min-width: 992px) {
  .justify-content-lg-end {
    justify-content: end;
  }
}

@media (min-width: 992px) {
  .justify-content-lg-center {
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .justify-content-lg-space-between {
    justify-content: space-between;
  }
}

@media (min-width: 992px) {
  .justify-content-lg-space-around {
    justify-content: space-around;
  }
}

@media (min-width: 992px) {
  .justify-content-lg-space-evenly {
    justify-content: space-evenly;
  }
}

@media (min-width: 1200px) {
  .justify-content-xl-start {
    justify-content: start;
  }
}

@media (min-width: 1200px) {
  .justify-content-xl-end {
    justify-content: end;
  }
}

@media (min-width: 1200px) {
  .justify-content-xl-center {
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .justify-content-xl-space-between {
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .justify-content-xl-space-around {
    justify-content: space-around;
  }
}

@media (min-width: 1200px) {
  .justify-content-xl-space-evenly {
    justify-content: space-evenly;
  }
}

.align-items-start {
  align-items: start;
}

.align-items-end {
  align-items: end;
}

.align-items-center {
  align-items: center;
}

.align-items-baseline {
  align-items: baseline;
}

.align-items-stretch {
  align-items: stretch;
}

@media (min-width: 0) {
  .align-items-xs-start {
    align-items: start;
  }
}

@media (min-width: 0) {
  .align-items-xs-end {
    align-items: end;
  }
}

@media (min-width: 0) {
  .align-items-xs-center {
    align-items: center;
  }
}

@media (min-width: 0) {
  .align-items-xs-baseline {
    align-items: baseline;
  }
}

@media (min-width: 0) {
  .align-items-xs-stretch {
    align-items: stretch;
  }
}

@media (min-width: 576px) {
  .align-items-sm-start {
    align-items: start;
  }
}

@media (min-width: 576px) {
  .align-items-sm-end {
    align-items: end;
  }
}

@media (min-width: 576px) {
  .align-items-sm-center {
    align-items: center;
  }
}

@media (min-width: 576px) {
  .align-items-sm-baseline {
    align-items: baseline;
  }
}

@media (min-width: 576px) {
  .align-items-sm-stretch {
    align-items: stretch;
  }
}

@media (min-width: 768px) {
  .align-items-md-start {
    align-items: start;
  }
}

@media (min-width: 768px) {
  .align-items-md-end {
    align-items: end;
  }
}

@media (min-width: 768px) {
  .align-items-md-center {
    align-items: center;
  }
}

@media (min-width: 768px) {
  .align-items-md-baseline {
    align-items: baseline;
  }
}

@media (min-width: 768px) {
  .align-items-md-stretch {
    align-items: stretch;
  }
}

@media (min-width: 992px) {
  .align-items-lg-start {
    align-items: start;
  }
}

@media (min-width: 992px) {
  .align-items-lg-end {
    align-items: end;
  }
}

@media (min-width: 992px) {
  .align-items-lg-center {
    align-items: center;
  }
}

@media (min-width: 992px) {
  .align-items-lg-baseline {
    align-items: baseline;
  }
}

@media (min-width: 992px) {
  .align-items-lg-stretch {
    align-items: stretch;
  }
}

@media (min-width: 1200px) {
  .align-items-xl-start {
    align-items: start;
  }
}

@media (min-width: 1200px) {
  .align-items-xl-end {
    align-items: end;
  }
}

@media (min-width: 1200px) {
  .align-items-xl-center {
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .align-items-xl-baseline {
    align-items: baseline;
  }
}

@media (min-width: 1200px) {
  .align-items-xl-stretch {
    align-items: stretch;
  }
}

.align-content-start {
  align-content: start;
}

.align-content-end {
  align-content: end;
}

.align-content-center {
  align-content: center;
}

.align-content-space-between {
  align-content: space-between;
}

.align-content-space-around {
  align-content: space-around;
}

.align-content-space-evenly {
  align-content: space-evenly;
}

.align-content-stretch {
  align-content: stretch;
}

@media (min-width: 0) {
  .align-content-xs-start {
    align-content: start;
  }
}

@media (min-width: 0) {
  .align-content-xs-end {
    align-content: end;
  }
}

@media (min-width: 0) {
  .align-content-xs-center {
    align-content: center;
  }
}

@media (min-width: 0) {
  .align-content-xs-space-between {
    align-content: space-between;
  }
}

@media (min-width: 0) {
  .align-content-xs-space-around {
    align-content: space-around;
  }
}

@media (min-width: 0) {
  .align-content-xs-space-evenly {
    align-content: space-evenly;
  }
}

@media (min-width: 0) {
  .align-content-xs-stretch {
    align-content: stretch;
  }
}

@media (min-width: 576px) {
  .align-content-sm-start {
    align-content: start;
  }
}

@media (min-width: 576px) {
  .align-content-sm-end {
    align-content: end;
  }
}

@media (min-width: 576px) {
  .align-content-sm-center {
    align-content: center;
  }
}

@media (min-width: 576px) {
  .align-content-sm-space-between {
    align-content: space-between;
  }
}

@media (min-width: 576px) {
  .align-content-sm-space-around {
    align-content: space-around;
  }
}

@media (min-width: 576px) {
  .align-content-sm-space-evenly {
    align-content: space-evenly;
  }
}

@media (min-width: 576px) {
  .align-content-sm-stretch {
    align-content: stretch;
  }
}

@media (min-width: 768px) {
  .align-content-md-start {
    align-content: start;
  }
}

@media (min-width: 768px) {
  .align-content-md-end {
    align-content: end;
  }
}

@media (min-width: 768px) {
  .align-content-md-center {
    align-content: center;
  }
}

@media (min-width: 768px) {
  .align-content-md-space-between {
    align-content: space-between;
  }
}

@media (min-width: 768px) {
  .align-content-md-space-around {
    align-content: space-around;
  }
}

@media (min-width: 768px) {
  .align-content-md-space-evenly {
    align-content: space-evenly;
  }
}

@media (min-width: 768px) {
  .align-content-md-stretch {
    align-content: stretch;
  }
}

@media (min-width: 992px) {
  .align-content-lg-start {
    align-content: start;
  }
}

@media (min-width: 992px) {
  .align-content-lg-end {
    align-content: end;
  }
}

@media (min-width: 992px) {
  .align-content-lg-center {
    align-content: center;
  }
}

@media (min-width: 992px) {
  .align-content-lg-space-between {
    align-content: space-between;
  }
}

@media (min-width: 992px) {
  .align-content-lg-space-around {
    align-content: space-around;
  }
}

@media (min-width: 992px) {
  .align-content-lg-space-evenly {
    align-content: space-evenly;
  }
}

@media (min-width: 992px) {
  .align-content-lg-stretch {
    align-content: stretch;
  }
}

@media (min-width: 1200px) {
  .align-content-xl-start {
    align-content: start;
  }
}

@media (min-width: 1200px) {
  .align-content-xl-end {
    align-content: end;
  }
}

@media (min-width: 1200px) {
  .align-content-xl-center {
    align-content: center;
  }
}

@media (min-width: 1200px) {
  .align-content-xl-space-between {
    align-content: space-between;
  }
}

@media (min-width: 1200px) {
  .align-content-xl-space-around {
    align-content: space-around;
  }
}

@media (min-width: 1200px) {
  .align-content-xl-space-evenly {
    align-content: space-evenly;
  }
}

@media (min-width: 1200px) {
  .align-content-xl-stretch {
    align-content: stretch;
  }
}

.align-self-auto {
  align-self: auto;
}

.align-self-start {
  align-self: start;
}

.align-self-end {
  align-self: end;
}

.align-self-center {
  align-self: center;
}

.align-self-baseline {
  align-self: baseline;
}

.align-self-stretch {
  align-self: stretch;
}

@media (min-width: 0) {
  .align-self-xs-auto {
    align-self: auto;
  }
}

@media (min-width: 0) {
  .align-self-xs-start {
    align-self: start;
  }
}

@media (min-width: 0) {
  .align-self-xs-end {
    align-self: end;
  }
}

@media (min-width: 0) {
  .align-self-xs-center {
    align-self: center;
  }
}

@media (min-width: 0) {
  .align-self-xs-baseline {
    align-self: baseline;
  }
}

@media (min-width: 0) {
  .align-self-xs-stretch {
    align-self: stretch;
  }
}

@media (min-width: 576px) {
  .align-self-sm-auto {
    align-self: auto;
  }
}

@media (min-width: 576px) {
  .align-self-sm-start {
    align-self: start;
  }
}

@media (min-width: 576px) {
  .align-self-sm-end {
    align-self: end;
  }
}

@media (min-width: 576px) {
  .align-self-sm-center {
    align-self: center;
  }
}

@media (min-width: 576px) {
  .align-self-sm-baseline {
    align-self: baseline;
  }
}

@media (min-width: 576px) {
  .align-self-sm-stretch {
    align-self: stretch;
  }
}

@media (min-width: 768px) {
  .align-self-md-auto {
    align-self: auto;
  }
}

@media (min-width: 768px) {
  .align-self-md-start {
    align-self: start;
  }
}

@media (min-width: 768px) {
  .align-self-md-end {
    align-self: end;
  }
}

@media (min-width: 768px) {
  .align-self-md-center {
    align-self: center;
  }
}

@media (min-width: 768px) {
  .align-self-md-baseline {
    align-self: baseline;
  }
}

@media (min-width: 768px) {
  .align-self-md-stretch {
    align-self: stretch;
  }
}

@media (min-width: 992px) {
  .align-self-lg-auto {
    align-self: auto;
  }
}

@media (min-width: 992px) {
  .align-self-lg-start {
    align-self: start;
  }
}

@media (min-width: 992px) {
  .align-self-lg-end {
    align-self: end;
  }
}

@media (min-width: 992px) {
  .align-self-lg-center {
    align-self: center;
  }
}

@media (min-width: 992px) {
  .align-self-lg-baseline {
    align-self: baseline;
  }
}

@media (min-width: 992px) {
  .align-self-lg-stretch {
    align-self: stretch;
  }
}

@media (min-width: 1200px) {
  .align-self-xl-auto {
    align-self: auto;
  }
}

@media (min-width: 1200px) {
  .align-self-xl-start {
    align-self: start;
  }
}

@media (min-width: 1200px) {
  .align-self-xl-end {
    align-self: end;
  }
}

@media (min-width: 1200px) {
  .align-self-xl-center {
    align-self: center;
  }
}

@media (min-width: 1200px) {
  .align-self-xl-baseline {
    align-self: baseline;
  }
}

@media (min-width: 1200px) {
  .align-self-xl-stretch {
    align-self: stretch;
  }
}

/**
  Structure
 */
.dark {
  color: #1F1C1C !important;
}

.primary {
  color: #FF4546 !important;
}

.secondary {
  color: #802323 !important;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
  justify-content: space-between;
}

.col-1 {
  flex: 0 0 8.333333%;
  max-width: calc(8.333333% - 15px);
}

.col-offset-1 {
  margin-left: calc(8.333333% - 15px);
}

.col-2 {
  flex: 0 0 16.666667%;
  max-width: calc(16.666667% - 15px);
}

.col-offset-2 {
  margin-left: calc(16.666667% - 15px);
}

.col-3 {
  flex: 0 0 25%;
  max-width: calc(25% - 15px);
}

.col-offset-3 {
  margin-left: calc(25% - 15px);
}

.col-4 {
  flex: 0 0 33.333333%;
  max-width: calc(33.333333% - 15px);
}

.col-offset-4 {
  margin-left: calc(33.333333% - 15px);
}

.col-5 {
  flex: 0 0 41.666667%;
  max-width: calc(41.666667% - 15px);
}

.col-offset-5 {
  margin-left: calc(41.666667% - 15px);
}

.col-6 {
  flex: 0 0 50%;
  max-width: calc(50% - 15px);
}

.col-offset-6 {
  margin-left: calc(50% - 15px);
}

.col-7 {
  flex: 0 0 58.333333%;
  max-width: calc(58.333333% - 15px);
}

.col-offset-7 {
  margin-left: calc(58.333333% - 15px);
}

.col-8 {
  flex: 0 0 66.666667%;
  max-width: calc(66.666667% - 15px);
}

.col-offset-8 {
  margin-left: calc(66.666667% - 15px);
}

.col-9 {
  flex: 0 0 75%;
  max-width: calc(75% - 15px);
}

.col-offset-9 {
  margin-left: calc(75% - 15px);
}

.col-10 {
  flex: 0 0 83.333333%;
  max-width: calc(83.333333% - 15px);
}

.col-offset-10 {
  margin-left: calc(83.333333% - 15px);
}

.col-11 {
  flex: 0 0 91.666667%;
  max-width: calc(91.666667% - 15px);
}

.col-offset-11 {
  margin-left: calc(91.666667% - 15px);
}

.col-12 {
  flex: 0 0 100%;
  max-width: calc(100% - 15px);
}

.col-offset-12 {
  margin-left: calc(100% - 15px);
}

@media (min-width: 0) {
  .col-xs-1 {
    flex: 0 0 8.333333%;
    max-width: calc(8.333333% - 15px);
  }
  .col-offset-xs-1 {
    margin-left: calc(8.333333% - 15px);
  }
}
@media (min-width: 0) {
  .col-xs-2 {
    flex: 0 0 16.666667%;
    max-width: calc(16.666667% - 15px);
  }
  .col-offset-xs-2 {
    margin-left: calc(16.666667% - 15px);
  }
}
@media (min-width: 0) {
  .col-xs-3 {
    flex: 0 0 25%;
    max-width: calc(25% - 15px);
  }
  .col-offset-xs-3 {
    margin-left: calc(25% - 15px);
  }
}
@media (min-width: 0) {
  .col-xs-4 {
    flex: 0 0 33.333333%;
    max-width: calc(33.333333% - 15px);
  }
  .col-offset-xs-4 {
    margin-left: calc(33.333333% - 15px);
  }
}
@media (min-width: 0) {
  .col-xs-5 {
    flex: 0 0 41.666667%;
    max-width: calc(41.666667% - 15px);
  }
  .col-offset-xs-5 {
    margin-left: calc(41.666667% - 15px);
  }
}
@media (min-width: 0) {
  .col-xs-6 {
    flex: 0 0 50%;
    max-width: calc(50% - 15px);
  }
  .col-offset-xs-6 {
    margin-left: calc(50% - 15px);
  }
}
@media (min-width: 0) {
  .col-xs-7 {
    flex: 0 0 58.333333%;
    max-width: calc(58.333333% - 15px);
  }
  .col-offset-xs-7 {
    margin-left: calc(58.333333% - 15px);
  }
}
@media (min-width: 0) {
  .col-xs-8 {
    flex: 0 0 66.666667%;
    max-width: calc(66.666667% - 15px);
  }
  .col-offset-xs-8 {
    margin-left: calc(66.666667% - 15px);
  }
}
@media (min-width: 0) {
  .col-xs-9 {
    flex: 0 0 75%;
    max-width: calc(75% - 15px);
  }
  .col-offset-xs-9 {
    margin-left: calc(75% - 15px);
  }
}
@media (min-width: 0) {
  .col-xs-10 {
    flex: 0 0 83.333333%;
    max-width: calc(83.333333% - 15px);
  }
  .col-offset-xs-10 {
    margin-left: calc(83.333333% - 15px);
  }
}
@media (min-width: 0) {
  .col-xs-11 {
    flex: 0 0 91.666667%;
    max-width: calc(91.666667% - 15px);
  }
  .col-offset-xs-11 {
    margin-left: calc(91.666667% - 15px);
  }
}
@media (min-width: 0) {
  .col-xs-12 {
    flex: 0 0 100%;
    max-width: calc(100% - 15px);
  }
  .col-offset-xs-12 {
    margin-left: calc(100% - 15px);
  }
}
@media (min-width: 576px) {
  .col-sm-1 {
    flex: 0 0 8.333333%;
    max-width: calc(8.333333% - 15px);
  }
  .col-offset-sm-1 {
    margin-left: calc(8.333333% - 15px);
  }
}
@media (min-width: 576px) {
  .col-sm-2 {
    flex: 0 0 16.666667%;
    max-width: calc(16.666667% - 15px);
  }
  .col-offset-sm-2 {
    margin-left: calc(16.666667% - 15px);
  }
}
@media (min-width: 576px) {
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: calc(25% - 15px);
  }
  .col-offset-sm-3 {
    margin-left: calc(25% - 15px);
  }
}
@media (min-width: 576px) {
  .col-sm-4 {
    flex: 0 0 33.333333%;
    max-width: calc(33.333333% - 15px);
  }
  .col-offset-sm-4 {
    margin-left: calc(33.333333% - 15px);
  }
}
@media (min-width: 576px) {
  .col-sm-5 {
    flex: 0 0 41.666667%;
    max-width: calc(41.666667% - 15px);
  }
  .col-offset-sm-5 {
    margin-left: calc(41.666667% - 15px);
  }
}
@media (min-width: 576px) {
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: calc(50% - 15px);
  }
  .col-offset-sm-6 {
    margin-left: calc(50% - 15px);
  }
}
@media (min-width: 576px) {
  .col-sm-7 {
    flex: 0 0 58.333333%;
    max-width: calc(58.333333% - 15px);
  }
  .col-offset-sm-7 {
    margin-left: calc(58.333333% - 15px);
  }
}
@media (min-width: 576px) {
  .col-sm-8 {
    flex: 0 0 66.666667%;
    max-width: calc(66.666667% - 15px);
  }
  .col-offset-sm-8 {
    margin-left: calc(66.666667% - 15px);
  }
}
@media (min-width: 576px) {
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: calc(75% - 15px);
  }
  .col-offset-sm-9 {
    margin-left: calc(75% - 15px);
  }
}
@media (min-width: 576px) {
  .col-sm-10 {
    flex: 0 0 83.333333%;
    max-width: calc(83.333333% - 15px);
  }
  .col-offset-sm-10 {
    margin-left: calc(83.333333% - 15px);
  }
}
@media (min-width: 576px) {
  .col-sm-11 {
    flex: 0 0 91.666667%;
    max-width: calc(91.666667% - 15px);
  }
  .col-offset-sm-11 {
    margin-left: calc(91.666667% - 15px);
  }
}
@media (min-width: 576px) {
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: calc(100% - 15px);
  }
  .col-offset-sm-12 {
    margin-left: calc(100% - 15px);
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    flex: 0 0 8.333333%;
    max-width: calc(8.333333% - 15px);
  }
  .col-offset-md-1 {
    margin-left: calc(8.333333% - 15px);
  }
}
@media (min-width: 768px) {
  .col-md-2 {
    flex: 0 0 16.666667%;
    max-width: calc(16.666667% - 15px);
  }
  .col-offset-md-2 {
    margin-left: calc(16.666667% - 15px);
  }
}
@media (min-width: 768px) {
  .col-md-3 {
    flex: 0 0 25%;
    max-width: calc(25% - 15px);
  }
  .col-offset-md-3 {
    margin-left: calc(25% - 15px);
  }
}
@media (min-width: 768px) {
  .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: calc(33.333333% - 15px);
  }
  .col-offset-md-4 {
    margin-left: calc(33.333333% - 15px);
  }
}
@media (min-width: 768px) {
  .col-md-5 {
    flex: 0 0 41.666667%;
    max-width: calc(41.666667% - 15px);
  }
  .col-offset-md-5 {
    margin-left: calc(41.666667% - 15px);
  }
}
@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 50%;
    max-width: calc(50% - 15px);
  }
  .col-offset-md-6 {
    margin-left: calc(50% - 15px);
  }
}
@media (min-width: 768px) {
  .col-md-7 {
    flex: 0 0 58.333333%;
    max-width: calc(58.333333% - 15px);
  }
  .col-offset-md-7 {
    margin-left: calc(58.333333% - 15px);
  }
}
@media (min-width: 768px) {
  .col-md-8 {
    flex: 0 0 66.666667%;
    max-width: calc(66.666667% - 15px);
  }
  .col-offset-md-8 {
    margin-left: calc(66.666667% - 15px);
  }
}
@media (min-width: 768px) {
  .col-md-9 {
    flex: 0 0 75%;
    max-width: calc(75% - 15px);
  }
  .col-offset-md-9 {
    margin-left: calc(75% - 15px);
  }
}
@media (min-width: 768px) {
  .col-md-10 {
    flex: 0 0 83.333333%;
    max-width: calc(83.333333% - 15px);
  }
  .col-offset-md-10 {
    margin-left: calc(83.333333% - 15px);
  }
}
@media (min-width: 768px) {
  .col-md-11 {
    flex: 0 0 91.666667%;
    max-width: calc(91.666667% - 15px);
  }
  .col-offset-md-11 {
    margin-left: calc(91.666667% - 15px);
  }
}
@media (min-width: 768px) {
  .col-md-12 {
    flex: 0 0 100%;
    max-width: calc(100% - 15px);
  }
  .col-offset-md-12 {
    margin-left: calc(100% - 15px);
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    flex: 0 0 8.333333%;
    max-width: calc(8.333333% - 15px);
  }
  .col-offset-lg-1 {
    margin-left: calc(8.333333% - 15px);
  }
}
@media (min-width: 992px) {
  .col-lg-2 {
    flex: 0 0 16.666667%;
    max-width: calc(16.666667% - 15px);
  }
  .col-offset-lg-2 {
    margin-left: calc(16.666667% - 15px);
  }
}
@media (min-width: 992px) {
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: calc(25% - 15px);
  }
  .col-offset-lg-3 {
    margin-left: calc(25% - 15px);
  }
}
@media (min-width: 992px) {
  .col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: calc(33.333333% - 15px);
  }
  .col-offset-lg-4 {
    margin-left: calc(33.333333% - 15px);
  }
}
@media (min-width: 992px) {
  .col-lg-5 {
    flex: 0 0 41.666667%;
    max-width: calc(41.666667% - 15px);
  }
  .col-offset-lg-5 {
    margin-left: calc(41.666667% - 15px);
  }
}
@media (min-width: 992px) {
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: calc(50% - 15px);
  }
  .col-offset-lg-6 {
    margin-left: calc(50% - 15px);
  }
}
@media (min-width: 992px) {
  .col-lg-7 {
    flex: 0 0 58.333333%;
    max-width: calc(58.333333% - 15px);
  }
  .col-offset-lg-7 {
    margin-left: calc(58.333333% - 15px);
  }
}
@media (min-width: 992px) {
  .col-lg-8 {
    flex: 0 0 66.666667%;
    max-width: calc(66.666667% - 15px);
  }
  .col-offset-lg-8 {
    margin-left: calc(66.666667% - 15px);
  }
}
@media (min-width: 992px) {
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: calc(75% - 15px);
  }
  .col-offset-lg-9 {
    margin-left: calc(75% - 15px);
  }
}
@media (min-width: 992px) {
  .col-lg-10 {
    flex: 0 0 83.333333%;
    max-width: calc(83.333333% - 15px);
  }
  .col-offset-lg-10 {
    margin-left: calc(83.333333% - 15px);
  }
}
@media (min-width: 992px) {
  .col-lg-11 {
    flex: 0 0 91.666667%;
    max-width: calc(91.666667% - 15px);
  }
  .col-offset-lg-11 {
    margin-left: calc(91.666667% - 15px);
  }
}
@media (min-width: 992px) {
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: calc(100% - 15px);
  }
  .col-offset-lg-12 {
    margin-left: calc(100% - 15px);
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    flex: 0 0 8.333333%;
    max-width: calc(8.333333% - 15px);
  }
  .col-offset-xl-1 {
    margin-left: calc(8.333333% - 15px);
  }
}
@media (min-width: 1200px) {
  .col-xl-2 {
    flex: 0 0 16.666667%;
    max-width: calc(16.666667% - 15px);
  }
  .col-offset-xl-2 {
    margin-left: calc(16.666667% - 15px);
  }
}
@media (min-width: 1200px) {
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: calc(25% - 15px);
  }
  .col-offset-xl-3 {
    margin-left: calc(25% - 15px);
  }
}
@media (min-width: 1200px) {
  .col-xl-4 {
    flex: 0 0 33.333333%;
    max-width: calc(33.333333% - 15px);
  }
  .col-offset-xl-4 {
    margin-left: calc(33.333333% - 15px);
  }
}
@media (min-width: 1200px) {
  .col-xl-5 {
    flex: 0 0 41.666667%;
    max-width: calc(41.666667% - 15px);
  }
  .col-offset-xl-5 {
    margin-left: calc(41.666667% - 15px);
  }
}
@media (min-width: 1200px) {
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: calc(50% - 15px);
  }
  .col-offset-xl-6 {
    margin-left: calc(50% - 15px);
  }
}
@media (min-width: 1200px) {
  .col-xl-7 {
    flex: 0 0 58.333333%;
    max-width: calc(58.333333% - 15px);
  }
  .col-offset-xl-7 {
    margin-left: calc(58.333333% - 15px);
  }
}
@media (min-width: 1200px) {
  .col-xl-8 {
    flex: 0 0 66.666667%;
    max-width: calc(66.666667% - 15px);
  }
  .col-offset-xl-8 {
    margin-left: calc(66.666667% - 15px);
  }
}
@media (min-width: 1200px) {
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: calc(75% - 15px);
  }
  .col-offset-xl-9 {
    margin-left: calc(75% - 15px);
  }
}
@media (min-width: 1200px) {
  .col-xl-10 {
    flex: 0 0 83.333333%;
    max-width: calc(83.333333% - 15px);
  }
  .col-offset-xl-10 {
    margin-left: calc(83.333333% - 15px);
  }
}
@media (min-width: 1200px) {
  .col-xl-11 {
    flex: 0 0 91.666667%;
    max-width: calc(91.666667% - 15px);
  }
  .col-offset-xl-11 {
    margin-left: calc(91.666667% - 15px);
  }
}
@media (min-width: 1200px) {
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: calc(100% - 15px);
  }
  .col-offset-xl-12 {
    margin-left: calc(100% - 15px);
  }
}
.p-0 {
  padding: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.pt-1 {
  padding-top: 0.25rem !important;
}

.pr-1 {
  padding-right: 0.25rem !important;
}

.pb-1 {
  padding-bottom: 0.25rem !important;
}

.pl-1 {
  padding-left: 0.25rem !important;
}

.px-1 {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}

.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1 {
  margin-top: 0.25rem !important;
}

.mr-1 {
  margin-right: 0.25rem !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1 {
  margin-left: 0.25rem !important;
}

.mx-1 {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}

.my-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pt-2 {
  padding-top: 0.5rem !important;
}

.pr-2 {
  padding-right: 0.5rem !important;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
}

.pl-2 {
  padding-left: 0.5rem !important;
}

.px-2 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2 {
  margin-left: 0.5rem !important;
}

.mx-2 {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.pr-3 {
  padding-right: 1rem !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}

.pl-3 {
  padding-left: 1rem !important;
}

.px-3 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mr-3 {
  margin-right: 1rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.ml-3 {
  margin-left: 1rem !important;
}

.mx-3 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.pr-4 {
  padding-right: 1.5rem !important;
}

.pb-4 {
  padding-bottom: 1.5rem !important;
}

.pl-4 {
  padding-left: 1.5rem !important;
}

.px-4 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mr-4 {
  margin-right: 1.5rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4 {
  margin-left: 1.5rem !important;
}

.mx-4 {
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important;
}

.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pt-5 {
  padding-top: 3rem !important;
}

.pr-5 {
  padding-right: 3rem !important;
}

.pb-5 {
  padding-bottom: 3rem !important;
}

.pl-5 {
  padding-left: 3rem !important;
}

.px-5 {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.mr-5 {
  margin-right: 3rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.ml-5 {
  margin-left: 3rem !important;
}

.mx-5 {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}

.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.d-block {
  display: block !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-inline {
  display: inline !important;
}

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.d-grid {
  display: grid !important;
}

.d-inline-grid {
  display: inline-grid !important;
}

.w-0 {
  width: 0% !important;
}

.h-0 {
  height: 0% !important;
}

.w-25 {
  width: 25% !important;
}

.h-25 {
  height: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.h-50 {
  height: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.h-75 {
  height: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.vh-0 {
  height: 0vh;
}

.vw-0 {
  width: 0vh;
}

.vh-25 {
  height: 25vh;
}

.vw-25 {
  width: 25vh;
}

.vh-50 {
  height: 50vh;
}

.vw-50 {
  width: 50vh;
}

.vh-75 {
  height: 75vh;
}

.vw-75 {
  width: 75vh;
}

.vh-100 {
  height: 100vh;
}

.vw-100 {
  width: 100vh;
}

.position-static {
  position: static;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.position-sticky {
  position: sticky;
}

.top-0 {
  top: 0;
}

.top-auto {
  top: auto;
}

.right-0 {
  right: 0;
}

.right-auto {
  right: auto;
}

.bottom-0 {
  bottom: 0;
}

.bottom-auto {
  bottom: auto;
}

.left-0 {
  left: 0;
}

.left-auto {
  left: auto;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1400px;
}
@media (max-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-logo {
  width: 5rem;
  height: 5rem;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #C0C0C0;
  border: 1px solid #C0C0C0;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

.rounded {
  border-radius: 1rem;
}

.rounded-sm {
  border-radius: 0.5rem;
}

.shadow {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.shadow-sm {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/**
  Forms
 */
.dark {
  color: #1F1C1C !important;
}

.primary {
  color: #FF4546 !important;
}

.secondary {
  color: #802323 !important;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
  color: #1F1C1C;
}

.label.required::after {
  content: " *";
  color: #DF3B31;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.75rem 0.5rem;
  font-size: 1rem;
  border: 1px solid #C0C0C0;
  border-radius: 4px;
}
.form-control:focus {
  border-color: #FF4546;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 69, 70, 0.25);
}

select.form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url("../images/ChevronDownsvg.svg") no-repeat 95%;
  appearance: none;
  padding: 0.75rem;
}

.form-control::placeholder {
  color: #4D4242;
  opacity: 1;
}

.form-textarea {
  height: 150px;
}

.form-search {
  position: relative;
  width: 100%;
}
.form-search .form-control {
  padding-right: 40px;
}
.form-search .form-search-icon {
  position: absolute;
  top: 50%;
  right: 0;
  width: 40px;
  height: 100%;
  transform: translateY(-50%);
  color: #4D4242;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

/*
  Components
 */
.dark {
  color: #1F1C1C !important;
}

.primary {
  color: #FF4546 !important;
}

.secondary {
  color: #802323 !important;
}

/**
  * Buttons
  */
.btn {
  padding: 0.5rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  line-height: 1.5;
  border-radius: 0;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  letter-spacing: 0.1em;
}
.btn:hover {
  text-decoration: none;
}
.btn.btn-primary {
  color: #FFFFFF;
  background-color: #FF4546;
  border-color: #FF4546;
}
.btn.btn-primary:hover {
  color: #FF4546;
  background-color: #FFFFFF;
  border-color: #FF4546;
}
.btn.btn-lg {
  padding: 0.75rem 2.5rem;
  font-size: 1rem;
  line-height: 1.5;
}
.btn.btn-success {
  color: #FFFFFF;
  background-color: #29A645;
  border-color: #29A645;
}
.btn.btn-success:hover {
  color: #29A645;
  background-color: #FFFFFF;
  border-color: #29A645;
}
.btn.btn-success {
  color: #FFFFFF;
  background-color: #FFC000;
  border-color: #FFC000;
}
.btn.btn-success:hover {
  color: #FFC000;
  background-color: #FFFFFF;
  border-color: #FFC000;
}
.btn.btn-success {
  color: #FFFFFF;
  background-color: #DF3B31;
  border-color: #DF3B31;
}
.btn.btn-success:hover {
  color: #DF3B31;
  background-color: #FFFFFF;
  border-color: #DF3B31;
}

/**
  * Navs
  */
.nav {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.6666666667);
  backdrop-filter: blur(10px);
  z-index: 2;
}
.nav #sidebar-open {
  cursor: pointer;
}
.nav.nav-brand {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: inherit;
  white-space: nowrap;
  text-decoration: none;
}
.nav .nav-items {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav .nav-item {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: inherit;
  white-space: nowrap;
  text-decoration: none;
}
.nav .nav-item img {
  width: 5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
}
.nav.nav-home .sidebar {
  position: absolute;
  top: 0;
  right: -100%;
  display: flex;
  flex-direction: column;
  flex: 0 0 20rem;
  height: 100vh;
  background-color: #FFFFFF;
  font-weight: 400;
  transition: all 0.2s ease-in-out;
}
.nav.nav-home .sidebar.open {
  right: 0;
}
.nav.nav-home .sidebar .sidebar-items {
  flex-direction: column;
  padding: 0;
}
.nav.nav-home .sidebar .sidebar-item i {
  margin-right: 0.5rem;
  font-size: 1.25rem;
}
.nav.nav-home .sidebar .sidebar-item {
  margin: 1rem 0;
  font-size: 1rem;
  line-height: inherit;
  white-space: nowrap;
  text-decoration: none;
}
.nav.nav-home .sidebar #sidebar-close {
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
  padding: 1rem;
  font-size: 1.5rem;
  color: #4D4242;
  cursor: pointer;
}
.nav .nav-shopping-cart {
  position: relative;
}
.nav .nav-shopping-cart a {
  color: #1F1C1C;
}
.nav .nav-shopping-cart .badge {
  position: absolute;
  top: -0.25rem;
  right: -0.25rem;
  padding: 0.25rem;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
  color: #FFFFFF;
  background-color: #FF4546;
  border-radius: 0.25rem;
}

/**
  Menu Item Card
 */
.card {
  background-color: white;
  margin-bottom: 1rem;
  overflow: hidden;
  height: 20rem;
  display: flex;
  flex-direction: column;
}
.card .card-img-wrapper {
  overflow: hidden;
  flex: 1 0 auto;
  position: relative;
}
.card .card-img-wrapper .card-img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.card .card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0.5rem 1rem;
}
.card .card-body .card-title {
  font-weight: 600;
  color: #3A3131;
}
.card .card-body .card-prices {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-feature-settings: "pnum" on, "onum" on;
}
.card .card-body .card-prices .card-price-old {
  font-size: 0.75rem;
  text-decoration: line-through;
  color: #4D4242;
}
.card .card-body .card-prices .card-price-new {
  font-size: 1.5rem;
  font-weight: bold;
  color: #802323;
}

.dark {
  color: #1F1C1C !important;
}

.primary {
  color: #FF4546 !important;
}

.secondary {
  color: #802323 !important;
}

.table {
  border-collapse: collapse;
  width: 100%;
}
.table th {
  padding: 0.5rem 0;
  border-bottom: 1px solid #C0C0C0;
  font-weight: normal;
}
.table thead th {
  padding: 0.75rem 0;
  font-weight: bold;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #1F1C1C;
  background-color: #FFFFFF;
  overflow-x: hidden;
}

/*
  Login
*/
.login-bg {
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 60vw;
  border-radius: 0 5rem 0 0;
  z-index: -1;
}

#sidebar-toggle {
  cursor: pointer;
}

.dashboard {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.dashboard .dashboard-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: 1;
}
.dashboard .sidebar {
  background-color: #FFFFFF;
  z-index: 1;
  border-radius: 5rem 0 0 0;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}
.dashboard .sidebar.opened .sidebar-text {
  display: inline;
}
.dashboard .sidebar.closed .sidebar-text {
  display: none;
}
.dashboard .sidebar a {
  text-decoration: none;
  color: #3A3131;
  transition: color 0.3s ease-in-out;
}
.dashboard .sidebar a.active {
  color: #FF4546;
}
.dashboard .sidebar a:not(.active):hover {
  color: #802323;
}
.dashboard .dashboard-header {
  border-bottom: 1px solid #C0C0C0;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

.not-found-container {
  max-width: 66vw;
  max-height: 33vh;
  height: 33vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome {
  padding: 5rem;
}

/*# sourceMappingURL=styles.css.map */
