$primary-color: #FF4546;
$secondary-color: #802323;
$tertiary-color: #FFA2A3;

$primary-text: #1F1C1C;
$headings: #3A3131;
$secondary-text: #4D4242;
$tertiary-text: #9f9f9f;
$border: #dadada;

$bg-color: #FFFFFF;
$bg-color-light: #FAFAFA;

$alert-colors: (success: #29A645, warning: #FFC000, danger: #DF3B31);
