/*
  Components
 */

@import "colors";

/**
  * Buttons
  */

.btn {
  padding: 0.5rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  line-height: 1.5;
  border-radius: 0;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  letter-spacing: 0.1em;

  &:hover {
    text-decoration: none;
  }

  &.btn-primary {
    color: $bg-color;
    background-color: $primary-color;
    border-color: $primary-color;

    &:hover {
      color: $primary-color;
      background-color: $bg-color;
      border-color: $primary-color;
    }
  }

  &.btn-lg {
    padding: 0.75rem 2.5rem;
    font-size: 1rem;
    line-height: 1.5;
  }

  @each $value in (success, warning, danger) {
    &.btn-success {
      color: $bg-color;
      background-color: map-get($alert-colors, $value);
      border-color: map-get($alert-colors, $value);

      &:hover {
        color: map-get($alert-colors, $value);
        background-color: $bg-color;
        border-color: map-get($alert-colors, $value);
      }
    }
  }
}

/**
  * Navs
  */

.nav {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  background: #ffffffaa;
  backdrop-filter: blur(10px);
  z-index: 2;

  #sidebar-open {
    cursor: pointer;
  }

  &.nav-brand {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: inherit;
    white-space: nowrap;
    text-decoration: none;
  }

  .nav-items {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .nav-item {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: inherit;
    white-space: nowrap;
    text-decoration: none;

    & img {
      width: 5rem;
      height: 2.5rem;
      margin-right: 0.5rem;
    }
  }

  // sidebar
  &.nav-home .sidebar {
    position: absolute;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    flex: 0 0 20rem;
    height: 100vh;
    background-color: $bg-color;
    font-weight: 400;
    transition: all 0.2s ease-in-out;

    &.open {
      right: 0;
    }

    .sidebar-items {
      flex-direction: column;
      padding: 0;
    }

    .sidebar-item i {
      margin-right: 0.5rem;
      font-size: 1.25rem;
    }

    .sidebar-item {
      margin: 1rem 0;
      font-size: 1rem;
      line-height: inherit;
      white-space: nowrap;
      text-decoration: none;

    }

    #sidebar-close {
      position: absolute;
      top: 0.5rem;
      right: 1.5rem;
      padding: 1rem;
      font-size: 1.5rem;
      color: $secondary-text;
      cursor: pointer;
    }
  }

  .nav-shopping-cart {
    position: relative;

    a {
      color: $primary-text;
    }

    .badge {
      position: absolute;
      top: -0.25rem;
      right: -0.25rem;
      padding: 0.25rem;
      font-size: 0.75rem;
      font-weight: 700;
      line-height: 1;
      color: $bg-color;
      background-color: $primary-color;
      border-radius: 0.25rem;
    }
  }
}

/**
  Menu Item Card
 */

.card {
  background-color: white;
  margin-bottom: 1rem;
  overflow: hidden;
  height: 20rem;
  display: flex;
  flex-direction: column;

  .card-img-wrapper {
    overflow: hidden;
    flex: 1 0 auto;
    position: relative;

    .card-img {
      width: 100%;
      object-fit: cover;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 0.5rem 1rem;

    .card-title {
      font-weight: 600;
      color: $headings;
    }

    .card-prices {
      display: flex;
      flex-direction: column;
      align-items: end;
      font-feature-settings: 'pnum' on, 'onum' on;

      .card-price-old {
        font-size: 0.75rem;
        text-decoration: line-through;
        color: $secondary-text;
      }

      .card-price-new {
        font-size: 1.5rem;
        font-weight: bold;
        color: $secondary-color;
      }
    }
  }
}
