/*
  Components
 */

@import "colors";

/**
  * Buttons
  */

.btn {
  padding: 0.5rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  line-height: 1.5;
  border-radius: 0;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  letter-spacing: 0.1em;

  &:hover {
    text-decoration: none;
  }

  &.btn-primary {
    color: $bg-color;
    background-color: $primary-color;
    border-color: $primary-color;

    &:hover {
      color: $primary-color;
      background-color: $bg-color;
      border-color: $primary-color;
    }
  }

  &.btn-lg {
    padding: 0.75rem 2.5rem;
    font-size: 1rem;
    line-height: 1.5;
  }

  &.btn-success {
    color: $bg-color;
    background-color: $success-color;
    border-color: $success-color;

    &:hover {
      color: $success-color;
      background-color: $bg-color;
      border-color: $success-color;
    }
  }

  &.btn-warning {
    color: $bg-color;
    background-color: $warning-color;
    border-color: $warning-color;

    &:hover {
      color: $warning-color;
      background-color: $bg-color;
      border-color: $warning-color;
    }
  }

  &.btn-danger {
    color: $bg-color;
    background-color: $danger-color;
    border-color: $danger-color;

    &:hover {
      color: $danger-color;
      background-color: $bg-color;
      border-color: $danger-color;
    }
  }
}

/**
  * Navs
  */

.nav {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  z-index: 2;

  &.nav-brand {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: inherit;
    white-space: nowrap;
    text-decoration: none;
  }

  .nav-items {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .nav-item {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: inherit;
    white-space: nowrap;
    text-decoration: none;

    & img {
      width: 5rem;
      height: 2.5rem;
      margin-right: 0.5rem;
    }
  }
}
