/**
  Layout
 */

$viewport-types: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);

$flex-directions: (row, row-reverse, column, column-reverse);
@each $direction in $flex-directions {
  .flex-#{$direction} {
    flex-direction: $direction;
  }
}

$order: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);
@each $order in $order {
  .order-#{$order} {
    order: $order;
  }
}

@each $type, $width in $viewport-types {
  @each $order in $order {
    .order-#{$type}-#{$order} {
      @media (min-width: $width) {
        order: $order;
      }
    }
  }
}

@each $type, $width in $viewport-types {
  @each $direction in $flex-directions {
    .flex-#{$type}-#{$direction} {
      @media (min-width: $width) {
        flex-direction: $direction;
      }
    }
  }
}

$flex-wrap: (nowrap, wrap, wrap-reverse);
@each $wrap in $flex-wrap {
  .flex-#{$wrap} {
    flex-wrap: $wrap;
  }
}

@each $type, $width in $viewport-types {
  @each $wrap in $flex-wrap {
    .flex-#{$type}-#{$wrap} {
      @media (min-width: $width) {
        flex-wrap: $wrap;
      }
    }
  }
}

$flex-justify: (start, end, center, space-between, space-around, space-evenly);
@each $justify in $flex-justify {
  .justify-content-#{$justify} {
    justify-content: $justify;
  }
}

@each $type, $width in $viewport-types {
  @each $justify in $flex-justify {
    .justify-content-#{$type}-#{$justify} {
      @media (min-width: $width) {
        justify-content: $justify;
      }
    }
  }
}

$flex-align: (start, end, center, baseline, stretch);
@each $align in $flex-align {
  .align-items-#{$align} {
    align-items: $align;
  }
}

@each $type, $width in $viewport-types {
  @each $align in $flex-align {
    .align-items-#{$type}-#{$align} {
      @media (min-width: $width) {
        align-items: $align;
      }
    }
  }
}

$flex-align-content: (start, end, center, space-between, space-around, space-evenly, stretch);
@each $align in $flex-align-content {
  .align-content-#{$align} {
    align-content: $align;
  }
}

@each $type, $width in $viewport-types {
  @each $align in $flex-align-content {
    .align-content-#{$type}-#{$align} {
      @media (min-width: $width) {
        align-content: $align;
      }
    }
  }
}

$flex-align-self: (auto, start, end, center, baseline, stretch);
@each $align in $flex-align-self {
  .align-self-#{$align} {
    align-self: $align;
  }
}

@each $type, $width in $viewport-types {
  @each $align in $flex-align-self {
    .align-self-#{$type}-#{$align} {
      @media (min-width: $width) {
        align-self: $align;
      }
    }
  }
}

$grid-columns: 1 2 3 4 5 6 7 8 9 10 11 12;
$grid-gutters: 0 1 2 3 4 5 6 7 8 9 10 11 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);

@each $columns in $grid-columns {
  .grid-#{$columns} {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
  }
}

@each $gutter in $grid-gutters {
  .grid-gutter-#{$gutter} {
    display: grid;
    grid-gap: $gutter * 8px;
  }
}

@each $type, $width in $grid-breakpoints {
  @each $columns in $grid-columns {
    .grid-#{$type}-#{$columns} {
      @media (min-width: $width) {
        display: grid;
        grid-template-columns: repeat($columns, 1fr);
      }
    }
  }
}

@each $type, $width in $grid-breakpoints {
  @each $gutter in $grid-gutters {
    .grid-gutter-#{$type}-#{$gutter} {
      @media (min-width: $width) {
        display: grid;
        grid-gap: $gutter * 8px;
      }
    }
  }
}

$grid-gap: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);
@each $gap in $grid-gap {
  .grid-gap-#{$gap} {
    grid-gap: $gap * 8px;
  }
}

.only-mobile {
  @media (min-width: 768px) {
    display: none;
  }
}

.not-mobile {
  @media (max-width: 767px) {
    display: none;
  }
}

.body-min-vh-100 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
